{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <div class="form-group">
            <label for=""symbol>Symbol:</label>
            <input type="text" name="symbol" id="symbol" placeholder="Symbol" type="text">
        </div>
        <div class="form-group">
            <label for=""symbol>Shares:</label>
            <input type="text" name="shares" id="shares" placeholder="Shares">
        </div>
        <button type="submit">Buy</button>
    </form>

{% endblock %}